.new-event-form label,
.new-event-form input {
  display: block;
  text-align: left;
  width: 100%;
  margin: 10px auto;
  padding: 10px;
  box-sizing: border-box;
  font-size: 1.2rem;
  color: black;
}

.new-event-form .user-data-input {
  font-size: 18px;
  font-weight: 900;
  color: rgb(59, 59, 59);
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  width: fit-content;
  height: fit-content;
}

.form-reset-icon:hover {
  animation: animateRefreshIcon 1s ease-in-out;
}

@keyframes animateRefreshIcon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
